## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("./weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Comodoro Rivadavia,-45.8667,-67.5000,64.26,clear sky,20,0,10.36,AR
1,1,Chokurdakh,70.6333,147.9167,43.20,overcast clouds,56,94,6.67,RU
2,2,Mar Del Plata,-38.0023,-57.5575,54.09,clear sky,71,0,4.61,AR
3,3,Arraial Do Cabo,-22.9661,-42.0278,69.76,broken clouds,49,75,14.97,BR
4,4,Busselton,-33.6500,115.3333,49.08,overcast clouds,72,100,27.18,AU

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [6]:
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
6,6,Broome,42.2506,-75.8330,73.98,overcast clouds,87,90,1.99,US
8,8,Hasaki,35.7333,140.8333,79.29,scattered clouds,86,50,7.16,JP
9,9,Rikitea,-23.1203,-134.9692,71.85,scattered clouds,77,35,7.94,PF
14,14,Krasnyy Yar,46.5331,48.3456,70.97,clear sky,62,2,7.78,RU
15,15,Waingapu,-9.6567,120.2641,73.92,overcast clouds,82,91,8.77,ID
...,...,...,...,...,...,...,...,...,...,...
669,669,Shingu,33.7333,135.9833,79.92,clear sky,60,0,1.48,JP
670,670,Nargana,9.4428,-78.5906,81.70,overcast clouds,80,96,6.82,PA
672,672,Hirara,24.8000,125.2833,82.67,few clouds,94,20,4.61,JP
674,674,Wau,7.7029,27.9953,71.11,overcast clouds,95,100,3.91,SS
675,675,Changji,44.0167,87.3167,77.79,clear sky,38,0,6.71,CN

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                272
City                   272
Lat                    272
Lng                    272
Max Temp               272
Current Description    272
Humidity               272
Cloudiness             272
Wind Speed             272
Country                272
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Hasaki,JP,79.29,scattered clouds,35.7333,140.8333,
19,Jamestown,US,79.02,scattered clouds,42.0970,-79.2353,
20,Maumere,ID,77.31,broken clouds,-8.6199,122.2111,
26,Abeche,TD,76.01,overcast clouds,13.8292,20.8324,
38,Puerto Ayora,EC,75.16,scattered clouds,-0.7393,-90.3518,
...,...,...,...,...,...,...,...
665,Kamaishi,JP,76.91,broken clouds,39.2667,141.8833,
666,Alofi,NU,76.89,scattered clouds,-19.0595,-169.9187,
667,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,
669,Shingu,JP,79.92,clear sky,33.7333,135.9833,
675,Changji,CN,77.79,clear sky,44.0167,87.3167,

In [9]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Broome,US,73.98,overcast clouds,42.2506,-75.8330,Chenango Valley State Park
8,Hasaki,JP,79.29,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
9,Rikitea,PF,71.85,scattered clouds,-23.1203,-134.9692,People ThankYou
14,Krasnyy Yar,RU,70.97,clear sky,46.5331,48.3456,Cottege near Ufa
15,Waingapu,ID,73.92,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
...,...,...,...,...,...,...,...
669,Shingu,JP,79.92,clear sky,33.7333,135.9833,Shingu UI Hotel
670,Nargana,PA,81.70,overcast clouds,9.4428,-78.5906,Dubbir
672,Hirara,JP,82.67,few clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
674,Wau,SS,71.11,overcast clouds,7.7029,27.9953,Universal Gab Hotel
675,Changji,CN,77.79,clear sky,44.0167,87.3167,Lvye Holiday Resort

In [11]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.  

hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Broome,US,73.98,overcast clouds,42.2506,-75.8330,Chenango Valley State Park
8,Hasaki,JP,79.29,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
9,Rikitea,PF,71.85,scattered clouds,-23.1203,-134.9692,People ThankYou
14,Krasnyy Yar,RU,70.97,clear sky,46.5331,48.3456,Cottege near Ufa
15,Waingapu,ID,73.92,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
...,...,...,...,...,...,...,...
669,Shingu,JP,79.92,clear sky,33.7333,135.9833,Shingu UI Hotel
670,Nargana,PA,81.70,overcast clouds,9.4428,-78.5906,Dubbir
672,Hirara,JP,82.67,few clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
674,Wau,SS,71.11,overcast clouds,7.7029,27.9953,Universal Gab Hotel
675,Changji,CN,77.79,clear sky,44.0167,87.3167,Lvye Holiday Resort

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "./Weather_Database/WeatherPy_Vacation.csv"


# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
current_description = hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))